.carousel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  .slide {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  
  .current-slide {
    opacity: 1;
  }
  
  .adjacent-slide {
    opacity: 0.5;
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust as needed */
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Button background color */
    color: white; /* Button text color */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Button background color on hover */
  }
  