@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}
img{
    width: 100%;
}

a{
    text-decoration: none;
}

.w10{
    width: 10%;

}.w15{
    width: 15%;

}.w20{
    width: 20%;

}.w25{
    width: 25%;

}.w30{
    width: 30%;

}